.card-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-header-text{
  display: flex;
  flex-wrap: wrap;
  /* margin-top: auto;
  margin-bottom: auto */
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-header-buttons{
  display: flex;
  flex-wrap: wrap;
}

.vehicle-list button.btn-default.btn.Ripple-parent {
  padding: 0.6rem;
}
