.form-control.page-size-drop-down {
  display: inline-block;
  width: 70px;
}

.page-buttons {
  display: inline-block;
}

.paging {
  display: flex;
  justify-content: center;
}

.paging {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}
