main {
  background-color: #ececec;
  min-height: 100vh;
  padding-top: 5.5rem;
}

.customers-container-inner ul {
  padding-inline-start: 30px;
  padding-inline-end: 30px;
}

@media only screen and (min-width: 922px) {
  main {
    background-color: #ececec;
    min-height: 100vh;
    padding-top: 5.5rem;
    padding-left: 15rem;
  }
}


